uid:												6F5A1BE51B19C283

address:										127.0.0.1
port:												3000

decay_time:									3600
timeout_maximum:						5
timeout_interval:						0
shutdown_timeout:						2
cache_clean_interval:				300
max_cache_size:							1000000000
max_outgoing_spool_length:	100
script_quantum:							0.1
net_priority:								-1

debug:											false
safe_level:									0
ignore_config:							true
do_exchanges:								true

app_root:										/home/lowentropy/mv
script_dir:									/scripts
environment_dir:						/data
log_dir:										/log

scripts: host pgrid cache spool
