--- !map:Configuration 
debug: false
host: 
  uid: ~
  address: 127.0.0.1
  port: 3000
  io: 
    decay_time: 3600
    timeout_maximum: 5
    timeout_interval: 0
    shutdown_timeout: 2
    net_priority: -1
  scripts:
  - host
  - pgrid
  - cache
  - spool
script: 
  quantum: 0.1
  safe_level: 0
  app_root: 
  script_dir: /scripts
  environment_dir: /data
  log_dir: /log
cache:
  clean_interval: 300
  max_size: 1000000000
  max_outgoing_spool_length: 100
pgrid:
  ignore_config: true
  do_exchanges: true
