--- !map:Configuration 
log: 
  trace: false
  level: debug
script: 
  log_dir: /log
  app_root: 
  safe_level: 0
  environment_dir: /data
  script_dir: /scripts
  quantum: 0.1
cache: 
  max_size: 1000000000
  max_outgoing_spool_length: 100
  clean_interval: 300
pgrid: 
  ignore_config: true
  do_exchanges: true
host: 
  port: 4000
  default_lang: :ruby
  default_env: :host
  default_environment_mode: net
  uid: 
  io: 
    decay_time: 3600
    shutdown_timeout: 2
    timeout_maximum: 5
    timeout_interval: 0
    net_priority: -1
  scripts: 
  - host
  - pgrid
  - cache
  - spool
  address: 127.0.0.1
